
.home-main{
    background-color: #f6f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.welcome{
    width: 100%;
    align-self: center;
    padding: 0px 50px;
    
}

.welcome>h5{
    font-size: 20px;
    font-weight: 600;
}
.welcome>h1{
    font-size: 70px;
    font-weight: 800;
}
.welcome>h2{
    font-size: 25px;
    font-weight: 600;
}
