.bars{
    align-self: flex-end;
    background-color: #d3e0ea;
    padding-right: 30px;
    z-index: 50;
}
.bars>button{
    background-color: #d3e0ea;
    color: #276678;
    border: 0;
    outline: 0;
    font-size: 30px;
    padding: 5px 15px;
    border-radius: 5px;
}

.navbar-main{
    background-color: #d3e0ea;
    height: 100vh;
    position: fixed;
    lefT: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.nav-main{
    text-align: center;
    width: 11rem;
    padding: 6px;
}

.nav-ul{
    padding-right: 30px;
    font-weight: 500;
}

.nav-list{
    list-style: none;
    padding: 10px 0;
}
.nav-link{
    color: #1687a7;
    text-decoration: none;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.nav-link:hover {
    color: #276678;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

.nav-icon{
    padding: 8px;
    font-size: 20px;
}
/***************media query **************************/

@media (max-width: 575.98px) { 
    .bars{
        display: block;
    }
    .navbar-main{
        width: 100vw;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .bars{
        display: block;
    }
    .navbar-main{
        width: 100vw;
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .bars{
        display: none;
    }
    .navbar-main{
        width: 11rem;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .bars{
        display: none;
    }
    .navbar-main{
        width: 11rem;
    }
 }


@media (min-width: 1200px) {
    .bars{
        display: none;
    }
    .navbar-main{
        width: 11rem;
    }
 }
