
.poppins-font{
  font-family: 'Poppins', sans-serif;
}
.work-sans-font {
  font-family: 'Work Sans', sans-serif;
}
.h2-headers{
  font-size: 55px;
  font-weight: 700;
}
.h3-headers{
  font-size: 35px;
  font-weight: 600;
}
.all-p{
  font-size: 16px;
  font-weight: 300;
}

/*****************media quiries**********************/
@media (max-width: 575.98px) { 
  
    
}


@media (min-width: 576px) and (max-width: 767.98px) { 
  .component-main{
    position: relative;
    
  }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
  .component-main{
    position: relative;
    margin-left: 11rem;
  }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
  .component-main{
    position: relative;
    margin-left: 11rem;
  }
 }


@media (min-width: 1200px) {
  .component-main{
    position: relative;
    margin-left: 11rem;
  }
 }